<%= bootstrap_form_for(@expense, :html => { class: 'form-horizontal' }) do |f| %>
  <div class="form-inputs">

      <%= f.select :category_id, Category.all.pluck(:name, :id), include_blank: true %>
      <%= f.number_field :amount %>
      <%= f.text_area :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div><br>
<% end %>
