<div class="jumbotron">
  <p class="display-6">Category: <%= @expense.category.name %></p>
  <p class="display-6">Amount: <%= @expense.amount %></p>
  <p class="display-6">Description: <%= @expense.description %></p>
  <%= link_to 'Edit', edit_expense_path(@expense), class:"btn btn-secondary" %>
  <%= link_to 'Back', expenses_path, class:"btn btn-secondary" %>
</div>